@model SCCodeGenerator.ControllerGen.ViewModels.ControllerOutput

<h2>Generate Controller</h2>

<form asp-action="ControllerCreateResults">
    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="ControllerName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ControllerName" autofocus class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                &nbsp;&nbsp;
                <a asp-action="Index" asp-controller="Home">Cancel</a>
            </div>
        </div>
    </div>
</form>