@model SCCodeGenerator.ControllerGen.ViewModels.ControllerOutputViewModel

<div>
    <h4>Controller Code</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.Raw(Model.ControllerCode)
        </dd>
    </dl>
</div>
