@model SCCodeGenerator.ControllerGen.ViewModels.ManageEntityOutputViewModel

<h2>Generate Manage Entity Code</h2>

<form asp-action="ManageEntityCreateResults">
    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="EntityName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EntityName" autofocus class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AppUsingPrefix" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AppUsingPrefix" value="SCLife" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModuleName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModuleName" value="Appearance" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AppNameSpace" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AppNameSpace" value="SCLife.XXX.BusinessLogic" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                &nbsp;&nbsp;
                <a asp-action="Index" asp-controller="Home">Cancel</a>
            </div>
        </div>
    </div>
</form>