@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Code Generation Options</h2>
        <ul>
            <li><a asp-action="ControllerCreate" asp-controller="ControllerGen">Generate Controller Code</a></li>
            <li><a asp-action="ManageEntityCreate" asp-controller="ControllerGen">Generate Manage Entity Code</a></li>
            <li>item 3</li>
        </ul>
    </div>
</div>
