@model SCCodeGenerator.SelectListGen.ViewModels.SelectListOutputViewModel

<div>
    <h4>Select List Code</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.Raw(Model.SelectListCode)
        </dd>
    </dl>
</div>
